<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    </meta>
    <title>Wild Eights</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
    <link rel="icon" href="{{ url_for("static", filename="assets/favicon.ico") }}">
</head>

<body>
    {# <div id="pause_button">&#9612;&#9612; PAUSE GAME</div> #}
    <div id="main_content">
        <script type="module" src="{{ url_for("static", filename="main.js")}}"></script>
        <h1>Wild Eights 🃏</h1>
        <div id="help_text">A 2-player virtual card game. Share your room code with a friend!</div>
        <div id="game"></div>
        <p>
        <small>
            made by <a href="https://tassaron.com">tassaron<img src="{{ url_for("static", filename="assets/minimuffin.ico") }}"
                    alt="tassaron muffin-with-crown icon"></a>
            <br>
            <a href="https://github.com/tassaron/wild-eights">source code on github</a>
        </small>
        </p>
    </div>
</body>

</html>
